.skeleton-circle-img {
  border-radius: 50%;
}
.home-section {
  position: relative;
  /* width: 100vw; */
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-purple-bg);
}

.background-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.content-container {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.content-row {
  width: 100%;
  height: 100%;
}

.text-content {
  /* background-color: red; */
}

.image-content {
  /* background-color: blue; */
}
.profile-image {
  width: 95%;
}

.scroll-down-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}

.name {
  background: #aa3cc6;
  /* background: linear-gradient(90deg, #AA3CC6 0%, #521D60 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.lastName {
  color: #ffffff;
  font-weight: 400;
}

.job-position {
  color: #ffffff;
  font-weight: 300;
}

.description {
  color: #ffffff;
  line-height: 1.5;
  font-size: 0.9rem;
}

@media (max-width: 576px) {
  .profile-image {
    width: 90%;
  }
  .button-group {
    align-self: center;
  }
}

@media (min-width: 1400px) {
  .description {
    font-size: 1.1rem;
  }
}
@media (max-width: 753px) {
  .skeleton-circle-img {
    height: 220px;
    width: 220px;
    margin-bottom: 80px;
  }
}
