.modal-photo {
  max-width: 90%;
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .modal-dialog {
    max-width: 98%;
    margin: 0 auto;
    width: 100%;
  }
}

.modal-photo-content {
  backdrop-filter: blur(1rem);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-photo{
  background: hsl(0 0% 100% / 0.1) !important;
  backdrop-filter: blur(1rem);
  box-shadow: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
}

.btn-photo-modal{
  color: antiquewhite !important;
  font-size: 1.8rem;
  cursor: pointer;
}

.modal-title-photo{
  font-size: 1.1rem;
  font-weight: 500;
}