.primary-btn {
  background: linear-gradient(90deg, #aa3cc6 0%, #521d60 100%);
  color: white;
  border: none;
  border-radius: 50px;
  /* padding: 0.4rem 2.6rem;  */
  width: 200px;
  height: 40px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.primary-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.primary-btn:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px rgba(170, 60, 198, 0.5);
}

.isHireBtn{
  width: 120px;
}

@media (max-width: 576px) {
  .primary-btn {
    width: 165px;
  }
}
