.testimonial-subtitle{
  font-size: 1.1rem;
  color: #513F5F;
  font-weight: 700;
}

.testimonial-title {
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
}

.testimonial-title::before {
  content: " ";
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 70px;
  background: linear-gradient(90deg, #aa3cc6 0%, #521d60 100%);
}


