.contact-me {
  color: #15003e;
  font-weight: 700;
}

.contact-part2 {
  color: #fff;
  font-weight: 400;
}

.bg-contact-me {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.bg-austranaut-container {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  background: linear-gradient(180deg, #9978d7 0%, rgba(255, 255, 255, 0) 100%);
}

.contact-subtitle {
  color: #fff;
  font-weight: 300;
}

.form-contact {
  background-color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-contact {
  color: #fff;
  font-weight: 400;
  line-height: 1.6;
  font-size: 0.9rem;
}

.astrounat-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-austronat {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .form-contact {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    justify-content: center;
  }

  .astrounat-container {
    padding-left: 2rem;
  }
}

@media (min-width: 992px) {
  .bg-austranaut-container {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

@media (min-width: 992px) {
  .cardForm {
    border-radius: 25px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    max-width: 1150px;
    margin: 25px auto;
  }
}
