.contact-me {
  color: #15003e;
  font-weight: 700;
}
.contact-part2 {
  color: #ffff;
  font-weight: 400;
}
.bg-contact-me {
  background: linear-gradient(180deg, #9978d7 0%, rgba(255, 255, 255, 0) 100%);
  /* height: 100vh; */
}
.contact-subtitle {
  color: #ffff;
  font-weight: 300;
}

.form-contact {
  background-color: #fff;

  /* height: 100vh; */
}

.bg-logo-contact {
  width: 100%;
}
.section-contact {
  background-color: var(--light-purple-bg);
}
.description-contact {
  color:  #fff; 
  font-weight: 400;
  line-height: 1.6;
}

.astrounat-container{
}
.img-austronat{
    width: 100%;
}
@media (min-width: 576px) {
  .form-contact {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
 
}
