:root {
  --app-primary: #FFFF;
  --app-secondary: #FFF7EC;
  --app-tertiary: #FDEED8;
  --text-primary: #4A4A4A;
  --text-color: #FFBB3C;
  --text-grey: #0000004D;
  --light-grey: #B5B5B5;
  --grey: #E5E5E5;
  --app-dark: #5FB2BE;
  --pagination: #DE8706;
  --white: #FFFFFF;
  --faded: #F2F2F2;
  --yellow: #FFC900;
  --black: #000000;
  --red: #CE2626;
  --fb-color: #3d5a9a;
  --gmail: #b52e2b;
  --border-color: #707070;
  --background: #fcf2e9;
  --decline: #943423;
  --border-color2: #F6CE93;
  --detail-background: #FEFBF8;
  --success-color: #079A0C;
  --initiated-color: #DE8706;
  --rejected-color: #FF0000;
  --payment: #AEAEAE;
  --facebook: #604FFF;
  --whatsapp: #1BD741;
  --neutral-600: #17083B;
  --neutral-500: #555358;
  --mail: #F82626;
  --primary-btn-client: #FFBB3C;
  --light-blue: #e9eef2;
  --client-primary: #FCEED5;
  --neutral-300: #B7B7B7;
  --neutral-400: #5D5474;
  --lavender: #F0EAFF;
  --royal-purple: #6B4CB9;
  --error-bg: rgba(255, 123, 123, 0.7);
  --bg-lang:rgba(225, 225, 225, 0.1);
  --nav-link:#1A1525;
  --hover-main:#6d28d9;
}
